configuration {
  timeout {
      action: "kb-cancel";
      delay:  0;
  }
  filebrowser {
      directories-first: true;
      sorting-method:    "name";
  }

  // --- Customize ---
  drun-display-format: "{name}: [<span weight='light' size='small'><i>{exec}</i></span>]";
  show-icons: true;
  icon-theme: "Papirus";
}

//@theme "gruvbox-light"
//@theme "Adapta-Nokto.rasi"
