spawn-sh-at-startup "waybar -c $HOME/.config/niri/configs/waybar/config.jsonc -s $HOME/.config/niri/configs/waybar/style.css"
//spawn-at-startup "bash" "-c" "wl-paste --watch cliphist store &"
spawn-sh-at-startup "/usr/lib/xdg-desktop-portal -r"
spawn-sh-at-startup "/usr/lib/polkit-gnome/polkit-gnome-authentication-agent-1"
spawn-sh-at-startup "$HOME/.config/niri/scripts/idle"
spawn-sh-at-startup "$HOME/.config/niri/scripts/cron"

spawn-sh-at-startup "env GOLDENDICT_FORCE_WAYLAND=1 goldendict"
